@import url(./fonts/roboto/roboto.css);
@import url(./fonts/montserrat/montserrat.css);
* > *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #3A3A3A;
}

/*new*/
.cross{
  background-image: url(images/cross.png);
  width: 32px;
  height: 32px;
  z-index: 30;
}

.cross:hover{
  background-image: url(images/cross_hover.png);
}

/*map*/

.map-container{
  top:0 !important;
}

.place-map__cross-button{
  position: absolute;
  top: 10px;
  right: 10px;
}

.overlay{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 60!important;
}

.map{
  margin: auto;
  opacity: 1;
  width: 80%;
  max-width: 1112px;
  height: 70%;
  max-height: 600px;
}

.map__iframe{
  width: 100%;
  height: 100%;
}

.window__now-close-Container{
  top:0 !important;
}
.window__now-close{
  margin: auto;
}

.delivery-container{
  z-index: 20;
}
.miniform-container{
  z-index: 130;
}
.miniform_is-open{
  visibility: visible;
}




.place__inputs-styles-bord{
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: none;
  }
  
  .place__inputs-styles{
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: none;
}

button{
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}


@media screen and (max-width: 882px){
    .page{
        max-width: 883px;
        min-width: 320px;
    }
}

.page{
    max-width: 1920px;
    font-family: "Roboto", Arial, sans-serif;
    color: #3A3A3A;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    background-color: RGBA(255,255,255,0.5);
}

/*Хедер*/
.header{
    max-width: 1112px;
    margin: 21px auto 0 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

@media screen and (max-width: 1112px){
    .header{
      margin-left: 3%;
      margin-right: 3%;
    }
}

@media screen and (max-width: 882px){
    .header{
      align-items: center;
    }
}

.header__adaptive{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 882px){
    .header{
        display: flex;
        max-width: 882px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 9px rgba(136, 133, 133, 0.25);
        margin-top: 0;
    }
}

@media screen and (max-width: 882px){
    .header>*{
        display:none;
    }
}

.header__mobile{
    display:none;
}

@media screen and (max-width: 882px){
    .header__mobile{
        display:flex;
        width: calc(100% - 150px);
    }

    .header__mobile .slide{
      display: flex;
    }
}

@media screen and (max-width: 882px){
    .header__logo{
        min-width: 129px;
        display: flex;
        margin: 0px 10px 0 7px;
        align-items: center;
        position: relative;
        background-color: white;
    }
}

.header__logo-image{
    width: 112px;
}

@media screen and (max-width: 882px){
    .header__logo-image{
        width: 112px;
    }
}

.header__time{
    width: 119px;
    text-align: center;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 70px;
    margin-top: 20px;
}

.header__time-span{
    font-weight: 500;
}

.header__call-container{
    flex-direction: column;
    text-align: center;
    width: 145px;
}

.header__call-button{
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    border: none;
    background: transparent;
    color: #FF7A00;
    font-size: 16px;
    line-height: 18.75px;
    margin-top: 23px;
    font-weight: 500;
}

.header__call-button:focus{
    outline: none;
}

.header__call-button:hover{
    cursor: pointer;
    color: #6CBB06;
}

.header__call-text{
    margin: 0;
    font-size: 14px;
}

.header__present{
    text-align: center;
    margin-right: 66px;
}

.header__present-time{
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 23px;
}

.header__present-time:hover{
    color: #6CBB06;
    cursor: pointer;
}

.header__present-text{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.header__present-text-red{
    color: red;
}

.header__basket{
   background-image: url(./images/shopping-basket1.svg);
   background-position: 8px 15px;
   background-repeat: no-repeat;
}

.header__basket:hover{
    cursor: pointer;
    background-image: url(./images/shopping-basket2.svg);
}

.header__basket:hover > .header__basket-border{
    background-color: #6CBB06;
    border: 1px solid #6CBB06;
}

.header__basket:hover > .header__basket-price{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 1px auto;
}

.header__basket-img{
    margin: 14px auto 0 auto;
    width: 38px;
}

.header__basket-border{
    border: 1px solid #FF7A00;
    width: 54px;
    background-color: #FF7A00;
    border-radius: 3px;
    padding: 0, 5px; 
    margin: 41px auto 0 auto;
}

.header__basket-price{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: white;
    margin: 1px auto;
    padding: 0 5px;
    text-align: center;
}

.header__button-autoriz{
    border: 1px solid #8DCD31;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 36px;
    width: 68px;
    font-size: 12px;
    line-height: 14px;
    color: white;
    padding: 5px 0 6px 0;
    outline: none;
    margin-left: 26px;
    margin-top: 33px;
}

.header__button-autoriz:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
}

/*Навигатор*/

.navigation{
    max-width: 1112px;
    display: flex;
    justify-content: space-between;
    margin: 22px auto 23px auto;
}

@media screen and (max-width: 1112px){
    .navigation{
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 882px){
    .navigation{
        display: none;
    }
    .header__mobile > .navigation{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 7px;
        margin-left: 0;
        margin-right: 0;
    }

    .header__mobile a{
      display: flex;
      width: 100%
    }

    .header__mobile a{
      margin: auto;
    }

    .header__mobile a button{
      white-space: nowrap;
      margin: auto;
    }
}

.navigation__element{
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    color: #3A3A3A;
    padding: 7px 10px;
}

@media screen and (max-width: 882px){
    .navigation__element{
        font-size: 10px;
        line-height: 10px;
        background-color:#EFEFEF;
        font-weight: normal;
        border-radius: 369px;
        padding: 15px 0px;
        width: 100%;
    }

    .navigation__element_active{
        background-color: #7BC01A;
        color: white;
    }
}

.navigation__element:hover{
    cursor: pointer;
    color: #FF7A00;
}

.navigation__element-red{
    color: red;
}

/*Слайдер в корзине*/

.slider-basket{
  width: 500px;
}
.swiper-basket .swiper-basket{
  width: 490px;
}



/*Слайдер мобильная версия*/

.sliderHeaderMobile .header__basket-border{
  margin-bottom: 20px;
}

.sliderHeaderMobile .swiper-slide{
  display: flex;
}

.sliderHeaderMobile .swiper-slide button{
  margin: auto;
}

/*Cлайдер popular*/
.popular{
  margin-left: auto;
  margin: auto;
  max-width: 1112px;
}

@media screen and (max-width: 1112px){
  .popular{
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (max-width: 882px){
  .popular{
    display: none;
  }
}


.swiper-popular{
  overflow: visible!important;
}

.popular__title{
  display: block;
  max-width: 1112px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-top: 100px;
  margin-bottom: 25px;
}

.popular__item{
  width: 350px;
  height: 170px;
  display: flex;
  box-shadow: 0px 6px 29px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.popular__img{
  object-fit: fill;
  align-self: center;
  width: 130px;
  height: 130px;
  margin-right: 25px;
}

.popular__info{
  display: flex;
  width: 150px;
  text-align: left;
  margin-top: 25px;
  flex-direction: column;
  color: black;
  align-items: center;
}

.popular__item-title{
  font-family: 'Roboto';
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3A3A3A;
}

.popular__mass{
  margin-top: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #8C8C8C;
  align-self: flex-start;
}

.popular__button{
  margin-top: auto;
  margin-bottom: 25px;
  padding: 6px 25px;
  background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
  border-radius: 7px;
  width: 100px;
}

.popular__button:hover{
  background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
}

.popular__price{
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.popular .btn{
  display: none;
}

/*Hero слайдер*/

.hero-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.hero-container .swiper-container{
  width: 100%;
  overflow: visible;
}


@media screen and (max-width: 1112px){
  .hero-container{
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (max-width: 882px){
  .hero-container{
    display: none;
  }
}

.hero-container .slide{
  height: 430px;
  background-image: url(images/Rectangle3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-container .swiper-slide-next{
  opacity: 0.5;
}

.hero-container .swiper-slide-prev{
  opacity: 0.5;
}

.hero-slider__item{
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}


/*Грид меню*/

.menu{
    max-width: 1112px;
    margin: 95px auto 0 auto;
}

@media screen and (max-width: 1115px){
    .menu{
        margin-left: 3%;
        margin-right: 3%;
    }
}


@media screen and (max-width: 882px){
    .menu{
        margin-top: 0;
    }
}


.menu__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 40px;
}

@media screen and (max-width: 882px){
    .menu__title{
        display: none;
    }
}

.elements{
    display: grid;
    width: 100%;
    column-gap: 23px;
    row-gap: 70px;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
}

@media screen and (max-width: 882px){
    .elements{
        display: flex;
        row-gap: 80px;
        flex-direction: column;
        max-width: 100%;
    }
    .element:first-of-type{
        margin-top: 40px;
    }
}


.element{
    position: relative;
}

@media screen and (max-width: 882px){
    .element{
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }  
}

@media screen and (max-width: 500px){
  .element{
      justify-content:flex-start;
  }  
}

.element__image{
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    object-fit: contain;
}

@media screen and (max-width: 882px){
    .element__image{
        width:31.5%;
        min-width: 187px;
        display: block;
        margin: 0;
    }  
}

@media screen and (max-width: 500px){
  .element__image{
      width:40%;
      min-width: 130px;
      max-height: 40%;
      min-height: 130px;
      margin-right: 15px;
  }  
}

@media screen and (max-width: 882px){
    .element__about{
        width: 51.5%;
        display: flex;
        flex-direction: column;
    }  
}

.element__message{
    display: flex;
    position: absolute;
    top: 0;
    right: 20px;
}

@media screen and (max-width: 882px){
    .element__message{
        display: flex;
        position: static;
    }
}

@media screen and (max-width: 882px){
    .element__about{
        width: 51.5%;
    }  
}

.element__message-item{
    border-radius: 42px;
}

.element__new{
    background: linear-gradient(180deg, #FF6969 0%, rgba(255, 54, 54, 0) 99.99%, rgba(255, 34, 34, 0) 100%), #FF0000;
}

.element__promo{
    background: linear-gradient(180deg, #FFB800 0%, rgba(255, 201, 96, 0) 100%), #FF912C;
    margin-left: 15px;
}

.element__message-text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 12px;
    color: #FFFFFF;
}

@media screen and (max-width: 350px){
  .element__message-text{
    font-size: 12px;
    line-height: 14px;
    padding: 6px 8px;
} 
}


.element__title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

@media screen and (max-width: 882px){
    .element__title{
        margin-top: 10px;
        font-size: 25px;
        line-height: 28px;
    } 
}

.element__mass-mobile{
    display: none;
}

@media screen and (max-width: 882px){
    .element__mass-mobile{
        display: inline-block;
        padding-left: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
}

.element__description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
}

@media screen and (max-width: 882px){
    .element__description{
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 30px;
        text-align: justify;
    }
}

.element__info{
    width: 100%;
    display: flex;
    font-style: normal;
    font-weight: normal;
    align-items: center;
}

.element__price{
    font-size: 24px;
    line-height: 28px;
    margin-right: 25px;
}

@media screen and (max-width: 500px){
  .element__price{
    font-size: 20px;
    margin-right: 20px;
    white-space: nowrap;
}
}

@media screen and (max-width: 350px){
  .element__price{
    margin-right: 10px;
    white-space: nowrap;
}
}


.element__mass{
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 882px){
    .element__mass{
        display: none;
    }
}


.element__submit{
    padding: 10px 45px;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 37px;
    margin-left: auto;
    color: white;
}

.element__submit:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
}

@media screen and (max-width: 500px){
  .element__submit{
    padding: 7px 20px;
  }
}

@media screen and (max-width: 350px){
  .element__submit{
    padding: 5px 15px;
  }
}

/*About Us*/

.aboutUs{
    margin-top: 100px;
    max-width: 1112px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1112px){
    .aboutUs{
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 882px){
    .aboutUs{
        display: none;
    }
}

.aboutUs__buttons{
    margin-bottom: 40px;
}

.aboutUs__button{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding: 9px 22px;
    margin-right: 35px;
}

.aboutUs__button_active{
    color: #FF7A00;
    border: 1px solid #FF7A00;
    border-radius: 42px; 
}
.aboutUs__title{
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}
.aboutUs__paragraph{
    font-size: 18px;
    line-height: 21px;
    color: #3A3A3A;
    margin-bottom: 45px;
    max-width: 620px;
}
.employees{
    display: flex;
}

.employees div:first-of-type{
    margin-left: 0;
}
.employees__item{
    width: 350px;
    margin-left: 31px;
}

.employees__image{
    width: 100%;
    margin-bottom: 13px;
}
.employees__name{
    font-weight: 500;
    font-size: 30.2283px;
    line-height: 35px;
}

.employees__employ{
    margin-bottom: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2362px;
    line-height: 23px;
    color: #3A3A3A;
}

.employees__description{
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
}

/*Футер*/

.footer{
    margin-top: 70px;
    width: 100%;
    background: #4D4D4D;
    
}

.footer__container{
    display: flex;
    max-width: 1113px;
    margin: 0 auto 0 auto;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1112px){
    .footer__container{
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (max-width: 882px){
    .footer__container{
        width: 100%;
        padding: 4% 6%;
        justify-content: space-between;
    }
}

.footer__navigation{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 23px;
    margin-bottom: 28px;
    margin-right: 44px;
}

@media screen and (max-width: 882px){
    .footer__navigation{
        display: none;
    }
}

.footer__nafigation-button{
    border: none;
    outline: none;
    background: transparent;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 10px;
}

.footer__nafigation-button:hover{
    cursor: pointer;
    color: #FF7A00;
}

.footer__info{
    width: 290px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 10%;
}

@media screen and (max-width: 882px){
    .footer__info{
        width: auto;
        text-align: justify;
        margin-right: 0;
    }
    .footer__info .footer__info-text:first-of-type{
        display: none;
    }
}

.footer__mobile-info-text{
    display: none;
}

@media screen and (max-width: 882px){
    .footer__mobile-info{
        max-width:200px;
    }
    .footer__mobile-info-text{
        color: white;
        display: block;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        width: 150px;
    }
}

@media screen and (max-width: 400px){
  .footer__mobile-info{
      max-width:100px;
  }
  .footer__mobile-info-text{
      color: white;
      display: block;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      color: #FFFFFF;
      width: 100px;
  }
}

.footer__logo-image{
    width: 112px;
    margin: 23px auto 11px auto;
}

@media screen and (max-width: 882px){
    .footer__logo-image{
        width: 112px;
        margin: 0
    }
}

@media screen and (max-width: 500px){
  .footer__logo-image{
      width: 80px;
      margin: 0
  }
}

.footer__social-med{
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-left: auto;
    align-items: center;
}

@media screen and (max-width: 500px){
  .footer__social-med{
      width: 80px;
      margin: 0
  }
}

@media screen and (max-width: 882px){
    .footer__social-med{
        display: flex;
        flex-direction: column;
        width: 120px;
        margin-left: 0;
    }
}

.footer__info-text{
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

@media screen and (max-width: 882px){
    .footer__info-text{
        width: 112px;
        text-align: justify;
        padding-left: 3%;
        padding-right: 3%;
    }
}

.footer__soc-title{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

@media screen and (max-width: 882px){
    .footer__soc-title{
        text-align: center;
        margin-top: 0;
        margin-bottom: 9px;
    }
}


.footer__icons{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px){
  .footer__social-med{
    width: 80px;
  }
  .footer__icons{
    display: flex;
    justify-content: space-between;
    width: 80px;
  }
  .footer__icon{
    max-width: 30px;
    max-height: 30px;
  }
}

/*Формы*/
/*Окно заказ принят*/
.order__accepted{
    margin: auto;
    width: 384px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.order__image{
    margin-top: 24px;
    margin-bottom: 15px;
    width: 58px;
}

.order__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #70BC0B;
    text-align: center;
    width: 200px;
}

.order__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 11px;
    width: 326px;
}

.order__number{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FF7A00;
    margin-top: 7px;
    margin-bottom: 27px;
}

/*Окно "Хорошие люди сейчас отдыхают"*/

.window__now-close{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 477px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    z-index: 10;
}

@media screen and (max-width: 500px){
  .window__now-close{
    width: 300px;
  }
}

.window__bed-image{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 80px;
}

.window__title{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #70BC0B;
    width: 300px;
    margin-bottom: 5px;
}

@media screen and (max-width: 500px){
  .window__title{
    width: 280px;
    font-size: 28px;
    line-height: 34px;
  }
}

.window__text{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 397px;
}

@media screen and (max-width: 500px){
  .window__text{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 280px;
}
}


.window__button{
    width: 137px;
    border: 1px solid #8DCD31;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 79px;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 22px;
    margin-bottom: 23px;
}

.window__button:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
}

/*Форма номер телефона*/

.phone-Container{
  display: block;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 267px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    z-index: 10;
}

.phone__title{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.phone__number{
    width: 227px;
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 57.5839px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #B2B2B2;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.phone__button{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: 1px solid #8DCD31;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 79px;
    width: 227px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.phone__button:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
}

/*Форма введите код*/
.code-Container{
  display: block;
}
.code{
    width: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    z-index: 10;
}

.code__title{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.code__text{
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 57.5839px;
    width: 227px;
    padding-bottom: 10px;
    padding-top: 10px;
    outline: none;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.code__check-input{
    display: flex;
    flex-direction: row;
    font-weight: normal;
    width: 227px;
    margin-top: 13px;
}

.code__label{
    margin-right: 10px;
}

.code__checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.code__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .code__checkbox+label::before {
    content: '';
    display: inline-block;
    border: 1px solid #74BE11;
    height: 21px;
    box-sizing: border-box;
    border-radius: 6px;
    width: 21px;
    margin-right: 3px;
    margin-bottom: 10px;
    
  }
  .code__checkbox:checked+label::before {
    background-image: url(./images/Vectorcheck.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }
  
  /* стили для чекбокса, находящегося в фокусе */
  .code__checkbox:focus+label::before {
      background-color: white;
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .code__checkbox:focus:not(:checked)+label::before {
    background-color: white;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .code__checkbox:disabled+label::before {
    background-color: #e9ecef;
  }
  .code__checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #80DC07;
  }


.code__label-text{
    display: flex;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 10px;
}

  .code__info-icon{
    width: 11px;
    align-self: baseline;
  }

  .code__button{
    width: 227px;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 79px;
    border: 1px solid #74BE11;
    padding-top: 11px;
    padding-bottom: 11px;
    color: white;
    margin-bottom: 18px;
  }

  .code__button:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
  }

  /*Заказ на доставку*/

  .delivery{
    display: flex;
    flex-direction: column;
    width: 483px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    z-index: 10;
  }

  .delivery__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 26px;
    margin-bottom: 13px;
  }

  .delivery__info{
      display: flex;
      flex-direction: column;
      margin-left: 26px;
  }

  .delivery__name{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    width: 227px;
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    outline: none;
    margin-bottom: 13px;
  }

  .delivery__subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    width: 123px;
    margin-bottom: 5px;
  }

  .delivery__time-button{
    width: 227px;
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 18px;
    color: #C4C4C4;
    text-align: left;
  }

  .delivery__polygon{
      margin-left: 50px;
      margin-bottom: 1px;
  }

  .delivery__title-two{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .delivery__green-border{
    width: 427px;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 6px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
    background-image: url(images/debit-card1.svg);
    background-repeat: no-repeat;
    background-position: 370px 11px;
  }

  .delivery__border-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 7px;
    width: 340px;
  }

  .delivery__check-input{
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  .delivery__card-number{
    width: 227px;
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    outline: none;
    margin-top: 10px;
  }

  .delivery__card-info{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-top: 13px;
    margin-bottom: 25px;
  }

  .delivery__card-term{
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 8px;
    width: 127px;
    margin-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
    text-align: center;
    outline: none;
  }

  .delivery__card-cvc{
    border: 1.17518px solid #FFB800;
    box-sizing: border-box;
    border-radius: 8px;
    width: 86px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
    text-align: center;
    outline: none;
  }

  .delivery__label-text-person{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-top: 3px;
  }

  .delivery__check-input-person{
      width: 300px;
  }

  .delivery__buttons{
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
  }

  .delivery__back{
    width: 137px;
    border: 1px solid #FFB800;
    box-sizing: border-box;
    border-radius: 26px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 14px;
  }

  .delivery__take-order{
    width: 137px;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 79px;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 30px;
  }

  .delivery__take-order:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
  }

  /*Мини форма заказа*/

  .miniform{
    display: flex;
    flex-direction: column;
    width: 227px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 10;
  }

  .miniform__check-input{
    margin-left: 7px;
  }

  .miniform__label-text{
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .miniform__inputs{
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    margin-bottom: 13px;
  }

  .miniform__date{
    width: 75px;
    margin-right: 5px;
    color: #C4C4C4;
    text-align: center;
    border: 0.585003px solid #FFB800;
    box-sizing: border-box;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    padding-left: 0;
  }

  .miniform__time{
    width: 55px;
    color: #C4C4C4;
    text-align: center;
    border: 0.585003px solid #FFB800;
    box-sizing: border-box;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    padding-left: 0;
  }

  .miniform__button{
    width: 70px;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 2px;
    margin-left: 5px;
    color: #FFFFFF;
  }

  .miniform__button:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
  }

  /*Куда доставить*/

  .place{
    width: 483px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
   
  }

  .place__cross-button{
    position: absolute;
    top: 10px;
    left: 441px;
  }

  .place__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 14px;
  }

  .place__info{
    margin-left: 25px;
  }

  .place__label-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  .place__inputs-first-row{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 13px;
  }

  

  .place__inputs-styles:hover{
    border-color: #FF7A00;
  }

  .place__street{
    width: 226px;
    margin-right: 17px;
  }

  .place__house{
      width: 95px;
  }

  .place__apart{
    width: 95px;
    margin-right: 18px;
  }

  .place__entrance{
    width: 95px;
    margin-right: 18px;
  }

  .place__door-code{
    width: 95px;
    margin-right: 18px;
  }

  .place__floor{
    width: 95px;
  }

  .place__inputs-second-row{
    margin-bottom: 16px;
  }

  .place__comments{
    width: 339px;
    padding-bottom: 50px;
    margin-bottom: 11px;
  }

  .place__accept-button{
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 79px;
    width: 137px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 24px;
  }

  .place__accept-button:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
  }

  /*Личный кабинет*/

  .cabinet{
    width: 483px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }

  .cabinet__orders{
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .cabinet__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 9px;
  }

  .cabinet__info{
    margin-left: 22px;
    margin-top: 15px;
    margin-bottom: 18px;
    margin-right: 20px;
  }

  .cabinet__info-list{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .cabinet__number{
    margin-bottom: 5px;
  }

  .cabinet__number-span{
    font-weight: 500;
  }

  .cabinet__points{
      margin-bottom: 5px;
  }

  .cabinet__points-span{
    font-weight: 500;
    color: #FF7A00;
  }

  .cabinet__points-info-span{
    font-weight: 500;
  }

  .cabinet__second-title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  .cabinet__order-list{
      display: flex;
      flex-direction: column;
  }

  .cabinet__order-subtitle{
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #FF7A00;
    margin-bottom: 3px;
    margin-top: 11px;
  }

  .cabinet__order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .cabinet__order-names{
    list-style-type: none;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
  }

  .cabinet__order-name{
    margin-bottom: 5px;
  }

  .cabinet__order-price{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
  }

  .cabinet__button-repeat{
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 79px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 105px;
  }

  .cabinet__button-repeat:hover{
    background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
  }

  .cabinet__borderline{
    width: 442px;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 12px;
  }

  .cabinet__order-third{
      margin-bottom: 7px;
  }

  .cabinet__order-subtitles{
      width: 249px;
  }

  .cabinet__order-subtitles{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }

  /*Корзина*/
  .basket-container{
    font-family: 'Roboto';
  }
  .basket{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 503px;
    z-index: 10;
  }

  .basket__cross-button{
    position: absolute;
    top: 10px;
    left: 463px;
  }
  .basket__orders{
    overflow: scroll;
    overflow-x:hidden;
  }
  .basket__container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
    height: 500px;
  }

  .basket__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 21px;
  }

  .basket__subtitles{
    width: 470px;
    display: flex;
    flex-direction: row;
  }

  .basket__subtitle{
    justify-self: flex-end;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: auto;
    margin-right: 39px;
  }

  .basket__order-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 20px;
    width: 100%;
  }

  .basket__order-image{
    width: 80px;
  }

  .basket__order-subtit{
    display: flex;
    flex-direction: column;
    width: 187px;
    margin-left: -15px;
  }

  .basket__order-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  .basket__order-text{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .basket__button{
    display: flex;
    justify-content: space-between;
    width: 79px;
    border: 1px solid #FFB800;
    box-sizing: border-box;
    border-radius: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .basket__button-minus{
    margin-left: 9px;
    margin-bottom: 7px;
  }

  .basket__button-plus{
    margin-right: 9px;
  }

  .basket__image-minus{
    width: 11px;
  }

  .basket__order-sum{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
  }

  .basket__borderline{
    width: 90%;
    opacity: 0.5;
    border: 1px solid #A0A0A0;
    margin-top: 15px;
  }

  .basket__border-window{
    position: relative;
    background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
    border-radius: 6px;
    width: 245px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 45px;
    z-index: 2;
  }

  .basket__border-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 12px;
    margin-right: 10px;
    z-index: 3;
  }

  .basket__polyg-bottom{
    width: 30px;
    margin-top: -12px;
    margin-left: 20px;
    margin-bottom: 5px;
    z-index: 1;
  }

  .basket__other{
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 22px;
    max-width: 100%;
  }

  .basket__prod-container{
    display: flex;
    min-width: 180px;
    width: 180px;
    border: 0.5px solid rgba(94, 94, 94, 0.36);
    box-sizing: border-box;
    border-radius: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .basket__product-image{
    width: 50px;
    height: 70px;
    margin-left: 25px;
    object-fit: contain;
  }

  .basket__product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .basket__product-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }
  
  .basket__product-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    width: 60px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFB800;
    text-align: center;
    margin-bottom: auto;
  }

  .basket__product-image-mafin{
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .basket__prod-container-one{
    margin-right: 15px;
  }

  .basket__prod-container-two{
    margin-right: 15px;
  }

  .basket__product-image-balls{
    width: 55px;
    height: 35px;
  }

  .basket__product-image-balls{
    margin-left: 7px;
    margin-top: 25px;
  }

.souces{
  margin-left: 22px;
  display: flex;
  flex-direction: column;
}

.souces__containers{
  display: flex;
  margin-bottom: 17px;
}

.souces__title{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
}

.souces__container{
  display: flex;
  flex-direction: column;
  width: 80px;
  border: 0.5px solid rgba(94, 94, 94, 0.36);
  box-sizing: border-box;
  border-radius: 9px;
  margin-right: 13px;
}

.souces__image-hamb{
  width: 42px;
  margin: auto;
  margin-top: 12px;
}

.souces__subtitle{
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 9px;
}

.souces__button{
  margin: auto;
  width: 50px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  color: #FFB800;
}

.present__title{
  font-family: 'Roboto';
  width: 400px;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  margin-left: 22px;
}

.present__containers{
  display: flex;
  margin-top: 17px;
  margin-bottom: 23px;
}

.present__gift-image{
  margin-left: 12px;
}

.present__product-title{
  margin-left: 12px;
}

.present__promo-title{
  margin-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 13px;
}

.present__promo-container{
  margin-left: 22px;
  display: flex;
  margin-bottom: 30px;
}

.present__promo-input{
  border: 1px solid #FFB800;
  box-sizing: border-box;
  border-radius: 26px;
  margin-right: 10px;
}

.present__promo-button{
  width: 90px;
  background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
  border-radius: 79px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.present__promo-button:hover{
  background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
}

.present__balls-container{
  margin-left: 22px;
  width: 250px;
  border: 0.5px solid rgba(94, 94, 94, 0.36);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.present__checkbox{
  margin-left: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.present__input-text{
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: #8C8C8C;
  margin-left: 43px;
  width: 200px;
  margin-bottom: 10px;
}

.present__sum{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 22px;
  margin-bottom: 23px;
}

.present__sum-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.present__sum-span{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FF7A00;
}

.present___sum-button-element{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 115px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #69B902 0%, #95CA3E 100%), #8DCD31;
  border-radius: 79px;
  margin-right: 25px;
}

.present___sum-button-element:hover{
  background: linear-gradient(180deg, #7EDD05 0%, #9BDC31 100%), #8DCD31;
}

.popUp_is-close{
    display: none;
}

.popUp_is-open{
    visibility: visible;
    position: absolute;
    top: 80px;
    right: calc((100vw - 1130px)/2);
    z-index: 40;
}
@media screen and (max-width: 1112px){
    .popUp_is-open{
        top: 12vh;
        right: 3%;
        z-index: 10;
    }
}


/*Actions*/

.actions__title{
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  margin: 46px 0 26px 0;
}

.actions__cards{
  display: flex;
  justify-content: space-between;
}

.actions__card-title{
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin: 27px 0 3px 0;
}

.actions__card{
  width: 31.8%;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.actions__card-container{
  width: 89.6%;
  margin: 15px auto 29px auto;
}

.actions__card-image{
  width: 100%;
}

.actions__card-date{
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.actions__card-text{
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
  text-align: left;
}


.aboutUs-disabled-window{
  display: none;
}

/*aboutUs__button_active*/
