@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Roboto-Regular.woff2?v=3.15") format("woff2"),
       url("Roboto-Regular.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Roboto-Black.woff2?v=3.15") format("woff2"),
       url("Roboto-Black.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Roboto-Medium.woff2?v=3.15") format("woff2"),
       url("Roboto-Medium.woff?v=3.15") format("woff");
}